.grid{
    width: 100%;
    background-color: black;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}

:host{
    ::ng-deep .p-sidebar .p-sidebar-header + .p-sidebar-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

